<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Todo App</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="box">       
        <h1>List</h1>
    </div>        
    <div class="box1">       
    <% for(var i=0;i<newListItem.length;i++) { %>
    <form action="/delete" method="post">
         <div class="item">
            <div class="round">
            <input type="checkbox" name="checkbox" value="<%= newListItem[i]._id%>"  onChange="this.form.submit()" id="checkbox">            
            <label for="checkbox"></label>
            </div>
            <p><%= newListItem[i].name %></p>
            <br>
        </div>         
    </form>
    <% } %>
        <form class="item" action="/add" method="post">
            <input type="text" name="item"  placeholder="Add items here"><hr>
            <button class="button" type="submit">Add</button> 
        </form>
    </div>
  </body>
</html>